.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bolder;
  
}

.App-header div, a {
  text-decoration: none;
  color: white;
  

}

.App-link {
  color: #09d3ac;
}
.authorization {
  display: inline;
  background-color: lightgray;
  padding: 10px;
}
.topnav  {
  background-color: black;
  padding: 10px;
  overflow: hidden;
  
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size:x-large;
  font-family: "Tahoma";
  font-weight:bolder;


}
#buy {
  background-color: black;
  padding: 10px;
  margin-left: 10px;
  font-weight: bolder;
  color: white;
  
}
#download {
  background-color: lightgray;
  padding: 10px;
  font-weight: bolder;
  color: black;
}





